{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<main>
    <div class="container-fluid">
        <div class="row py-4 bg-sl-dark text-white">
            <div class="col">
                <div class="container">
                    <h2>Register Success</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 m-auto">
                <div class="alert alert-success">
                    You have successfully registered in SamrtShop system.<br>
                    A welcome email has been sent to you.
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}