{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<main class="container-fluid">
    <div class="row py-4 bg-sl-dark text-white">
        <div class="col">
            <div class="container">
                <h2>SmartShop</h2>
            </div>
        </div>
    </div>

    <div class="row bg-secondary-subtle">
        <div class="col">
            <div class="container py-4">
                <div class="col">

                    <h3>Requested Entity Not Found</h3>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}