{% extends "staff/layouts/staff.html" %}
{% load static %}
{% block staff_content %}
<div class="container">
    <div class="row">
        <h3>{{mode}} Product</h3>
    </div>

    <div class="row">
        <form class="row" method="POST" enctype="multipart/form-data" {% if is_validated %} was-validated {% endif %}>
            {% csrf_token %}

            <div class="col-md-8" style="height:auto;min-height:100%;">
                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="name">Name</label>
                        <input type="text" 
                                class="form-control mt-2 {% if is_validated and form.name.errors %} is-invalid {% endif %}" 
                                id="name" 
                                name="name" 
                                value="{{ form.name.value|default:'' }}" 
                                required>
                        <div class="invalid-feedback">
                            {{ form.name.errors }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="slug">SEO Trailing URL <em class="fw-light">(auto generate if left empty)</em></label>
                        <input type="text" 
                                class="form-control mt-2 {% if is_validated and form.slug.errors %} is-invalid {% endif %}" 
                                id="slug" 
                                name="slug" 
                                value="{{ form.slug.value|default:'' }}" 
                                aria-describedby="slugHelpBlock">
                        <div id="slugHelpBlock" class="form-text">
                            Must be unique, not contain spaces, special characters, or emoji.
                            <br/>Except for dash or underscore.
                        </div>
                        <div class="invalid-feedback">
                            {{ form.slug.errors }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col-md-6">
                        <label class="fw-bold" for="price">Price</label>
                        <div class="input-group mt-2">
                            <span class="input-group-text">$</span>
                            <input type="text" 
                                    class="form-control {% if is_validated and form.price.errors %} is-invalid {% endif %}" 
                                    id="price" 
                                    name="price" 
                                    value="{{ form.price.value|default:'' }}" 
                                    required>
                        </div>
                        <div class="invalid-feedback">
                            {{ form.price.errors }}
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="fw-bold" for="stock_count">Stock Count</label>
                        <input type="number" 
                                min="0" 
                                step="1" 
                                class="form-control mt-2 {% if is_validated and form.stock_count.errors %} is-invalid {% endif %}" 
                                id="stock_count" 
                                name="stock_count" 
                                value="{{ form.stock_count.value|default:'' }}" 
                                required>
                        <div class="invalid-feedback">
                            {{ form.stock_count.errors }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="short_description">Short Description</label>
                        <textarea class="form-control mt-2 {% if is_validated and form.short_description.errors %} is-invalid {% endif %}" 
                                    id="short_description" 
                                    name="short_description" 
                                    required>{{ form.short_description.value|default:'' }}</textarea>
                        <div class="invalid-feedback">
                            {{ form.short_description.errors }}
                        </div>
                    </div>
                </div>
                <div class="row mt-4 mb-5">
                    <div class="form-group col mb-5">
                        <label class="fw-bold" for="description">Description</label>
                        <textarea class="form-control mt-2 {% if is_validated and form.description.errors %} is-invalid {% endif %}" 
                                    rows="20"
                                    id="description" 
                                    name="description" 
                                    required>{{ form.description.value|default:'' }}</textarea>
                        <div class="invalid-feedback">
                            {{ form.description.errors }}
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="form-group col">
                        <div class="progress mb-3" 
                            id="retrieve-suggestion-progress"
                            role="progressbar" 
                            aria-label="Animated striped example" 
                            aria-valuenow="100" 
                            aria-valuemin="0" 
                            aria-valuemax="100"
                            style="display: none;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">Retrieving Suggestion</div>
                        </div>
                        <label class="fw-bold" for="suggested-description">Suggested Description</label>
                        <button class="btn btn-primary float-end" id="use-suggestion" type="button">Use Suggestion</button>
                        <button class="btn btn-success float-end me-3" id="suggest-description" type="button">Suggest Description</button>
                        <textarea class="form-control mt-2" rows="20" id="suggested-description" disabled></textarea>
                    </div>
                </div>
                
                <div class="row mt-4">
                    <div class="form-group col-md-12 text-center">
                        <button type="submit" class="btn btn-outline-primary mb-2 me-3">{% if mode == 'Add' %} Save {% else %} Update {% endif %}</button>
                        <a href="{% url 'staff_list_of_products' %}" class="btn btn-outline-danger mb-2">Cancel</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="brand_id">Brand</label>
                        <select class="form-select mt-2" id="brand_id" name="brand_id">
                            {% for brand in availableBrands %}
                                <option value="{{brand.id}}" {% if form.instance and brand.id is form.instance.brand_id %} selected {% endif %}>
                                    {{brand.name}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="category_id">Category</label>
                        <select class="form-select mt-2" id="category_id" name="category_id">
                            {% for category in availableCategories %}
                                <option value="{{category.id}}" {% if form.instance and category.id is form.instance.category_id %} selected {% endif %}>
                                    {{category.name}}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold">Themes</label>
                        <div class="card">
                            <div class="card-body" id="theme-wrapper">
                                <select class="form-select" size="{{ availableThemesLen }}" name="themes" multiple aria-label="Multiple select example">
                                    {% for theme in availableThemes %}
                                        <option value="{{ theme.id }}" {% if product.id|product_has_theme:theme.id %} selected {% endif %}>{{ theme.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="main_image">Main Image</label>
                        <input type="file" class="form-control mt-2" id="main_image" name="main_image" accept="image/*,.heic">
                        <div class="w-100 text-center mt-3" style="height: 200px;">
                            <img id="main_image_preview" src="{{ form.instance.main_image.url.url|default:'' }}" height="100%" width="auto">
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="form-group col">
                        <label class="fw-bold" for="additional-image-input">Additional Images</label>
                        <input type="file" class="form-control mt-2" id="additional-image-input" accept="image/*,.heic" multiple/>
                        <input type="file" class="d-none" name="additional_images" id="added-image-input" multiple/>
                        <div class="w-100" id="additional-image-wrapper">
                            {% if form.instance.additional_images %}
                                {% for additionalImage in form.instance.additional_images %}
                                    <div class="w-100 text-center mt-3" style="height: 100px;width:100px;position: relative;" id="additional-image-{{ additionalImage.id }}">
                                        <img class="added-images" data-image-name="{{ additionalImage.name }}" data-image-id="{{ additionalImage.id }}" src="{{ additionalImage.url.url }}" height="100%" width="auto"/>
                                        <button type="button" class="btn btn-danger btn-sm remove-additional-image-btn" data-id="{{ additionalImage.id }}" title="Remove" style="position: absolute;top:0;right:0;z-index:100;">
                                            <i class="bi bi-x-circle-fill" data-id="{{ additionalImage.id }}"></i>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<template id="additional-image-template">
    <div class="w-100 text-center mt-3" style="height: 100px;width:100px;position: relative;" id="additional-image-%id%">
        <img class="added-images" data-image-name="%imageName%" data-image-id="%id%" src="%src%" height="100%" width="auto"/>
        <button type="button" class="btn btn-danger btn-sm remove-additional-image-btn" data-id="%id%" title="Remove" style="position: absolute;top:0;right:0;z-index:100;">
            <i class="bi bi-x-circle-fill" data-id="%id%"></i>
        </button>
    </div>
</template>
{% endblock %}

{% block js %}
<script type="text/javascript">
    const addedImageInput = document.getElementById('added-image-input');
    const removeFunction = (event) => {
        const id = event.target.dataset['id'];
        document.getElementById('additional-image-' + id).remove();
        const dataTransfer = new DataTransfer();
        for (let i = 0; i < addedImageInput.files.length; i++) {
            if (addedImageInput.files[i].id != id) {
                dataTransfer.items.add(addedImageInput.files[i]);
            }
        }
        addedImageInput.files = dataTransfer.files;
    }
    const assignClickEventToButtons = () => {
        const buttons = document.querySelectorAll('.remove-additional-image-btn');
        buttons.forEach((btn, index) => {
            btn.removeEventListener('click', removeFunction);
            btn.addEventListener('click', removeFunction);
        });
    }

    const assignAddedImagesOnEditOperation = () => {
        const dataTransfer = new DataTransfer();
        const addedImages = document.querySelectorAll('.added-images');
        addedImages.forEach((image) => {
            const imageFile = new File([image.src], image.dataset['imageName']);
            imageFile.id = image.dataset['imageId'];
            dataTransfer.items.add(imageFile);
        });
        addedImageInput.files = dataTransfer.files;
    }

    const wrapper = document.getElementById('additional-image-wrapper');
    const additionalImageInput = document.getElementById('additional-image-input');
    additionalImageInput.addEventListener('change', (event) => {
        const dataTransfer = new DataTransfer();
        for (let i = 0; i < addedImageInput.files.length; i++) {
            dataTransfer.items.add(addedImageInput.files[i]);
        }

        const selectedFiles = event.target.files;
        for (let i = 0; i < selectedFiles.length; i++) {
            const selectedFile = selectedFiles[i];

            const randomId = Math.random();
            selectedFile.id = randomId;

            let fileExists = [...dataTransfer.files].find((imageFile) => {
                return imageFile.name === selectedFile.name;
            });

            if (fileExists === undefined) {
                const src = URL.createObjectURL(selectedFile);
                const template = document.getElementById('additional-image-template').cloneNode(true);
                template.innerHTML = template.innerHTML.replaceAll('%imageName%', selectedFile.name)
                                                        .replaceAll('%src%', src)
                                                        .replaceAll('%id%', randomId);
                wrapper.appendChild(template.content);

                dataTransfer.items.add(selectedFile);
            } else {
                alert(`File "${selectedFile.name}" already added!`);
            }
        }

        addedImageInput.files = dataTransfer.files;
        additionalImageInput.value = '';
        assignClickEventToButtons();
    });

    assignClickEventToButtons();
    assignAddedImagesOnEditOperation();

    document.getElementById('main_image').addEventListener('change', (event) => {
        let value = event.target.files[0];
        document.getElementById('main_image_preview').src = URL.createObjectURL(value);
    });

    const categorySelectInput = document.getElementById('category_id');
    const retrieveSuggestionProgress = document.getElementById('retrieve-suggestion-progress');
    const suggestedDescription = document.getElementById('suggested-description');
    document.getElementById('suggest-description').addEventListener('click', (event) => {
        retrieveSuggestionProgress.style.display = 'block';
        const request = new Request(
            '/staff/suggest-product-description/',
            {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    'X-Requested-With':'XMLHttpRequest',
                    'X-CSRFToken': csrftoken
                },
                mode: 'same-origin', // Do not send CSRF token to another domain.
                body: JSON.stringify({
                    'name': document.getElementById('name').value,
                    'category': categorySelectInput.options[categorySelectInput.selectedIndex].text,
                    'short_description': document.getElementById('short_description').value,
                })
            }
        );
        fetch(request)
            .then((response) => {
                return response.json();
            }).then((resp) => {
                suggestedDescription.innerHTML = resp.result;
                retrieveSuggestionProgress.style.display = 'none';
            });
    });
    document.getElementById('use-suggestion').addEventListener('click', (event) => {
        document.getElementById('description').innerHTML = suggestedDescription.innerHTML;
    });
</script>
{% endblock %}
