{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<main class="container-fluid">
    <div class="row py-4 bg-sl-dark text-white">
        <div class="col">
            <div class="container">
                <div class="row">
                    {% if main_categories %}
                        {% for mainCategory in main_categories %}
                            <a class="col text-center d-block" href="/categories/{{ mainCategory.code }}">
                                <img class="rounded mx-auto d-block" src="{{ mainCategory.image.url }}" height="150" width="150"/>
                                <div class="w-100 align-center text-white">
                                    {{ mainCategory.name }}
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if recommendedProductsLen > 0 %}
        <div class="row py-4 bg-sl">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <h2>Recommended Products</h2>
                    </div>
                    <div class="row row-cols-md-4 g-5">
                        {% for product in recommendedProducts %}
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="{{ product.main_image.url.url|default:'/static/img/products/no-image.jpg' }}" class="card-img-top product-image" style="max-height: 50%" alt="">
                                    <div class="card-body">
                                        <h5 class="product-title">{{product.name}}</h5>
                                        <p class="card-text">
                                            <span class="d-block w-100 mt-3 product-price">${{product.price}}</span>
                                            <span class="d-block w-100 mt-3 product-short-description">{{product.short_description|safe}}</span>
                                        </p>
                                    </div>

                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center mb-3">
                                            <form action="/orders/add-to-cart/{{ product.id }}" method="POST">
                                                {% csrf_token %}
                                                <input name="quantity" type="hidden" min="1" value="1"/>
                                                <button class="btn btn-success" type="submit">Add To Cart</button>
                                            </form>
                                            <a href="/products/{{product.category.code}}/{{product.slug}}" class="btn btn-outline-dark mt-auto">View More</a>
                                            {% if user.is_authenticated and user.is_staff %}
                                                <div class="text-center">
                                                    <a href="/staff/edit-product/{{product.id}}" class="btn btn-outline-primary mt-auto me-2">Edit</a>
                                                    <a href="/staff/delete-product/{{product.id}}" class="btn btn-outline-danger mt-auto" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if latestArrivalsLen > 0 %}
        <div class="row py-4 bg-dark-subtle text-white">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <h2>Latest Arrivals</h2>
                    </div>
                    <div class="row row-cols-md-4 g-5">
                        {% for product in latestArrivals %}
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="{{ product.main_image.url.url|default:'/static/img/products/no-image.jpg' }}" class="card-img-top product-image" style="max-height: 50%" alt="">
                                    <div class="card-body">
                                        <h5 class="product-title">{{product.name}}</h5>
                                        <p class="card-text">
                                            <span class="d-block w-100 mt-3 product-price">${{product.price}}</span>
                                            <span class="d-block w-100 mt-3 product-short-description">{{product.short_description|safe}}</span>
                                        </p>
                                    </div>

                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center mb-3">
                                            <form action="/orders/add-to-cart/{{ product.id }}" method="POST">
                                                {% csrf_token %}
                                                <input name="quantity" type="hidden" min="1" value="1"/>
                                                <button class="btn btn-success" type="submit">Add To Cart</button>
                                            </form>
                                            <a href="/products/{{product.category.code}}/{{product.slug}}" class="btn btn-outline-dark mt-auto">View More</a>
                                            {% if user.is_authenticated and user.is_staff %}
                                                <div class="text-center">
                                                    <a href="/staff/edit-product/{{product.id}}" class="btn btn-outline-primary mt-auto me-2">Edit</a>
                                                    <a href="/staff/delete-product/{{product.id}}" class="btn btn-outline-danger mt-auto" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if popularProductsLen > 0 %}
        <div class="row py-4">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <h2>Popular Products</h2>
                    </div>
                    <div class="row row-cols-md-4 g-5">
                        {% for cartItem in popularProducts %}
                            <div class="col mb-4">
                                <div class="card h-100">
                                    <img src="{{ cartItem.product.main_image.url.url|default:'/static/img/products/no-image.jpg' }}" class="card-img-top product-image" style="max-height: 50%" alt="">
                                    <div class="card-body">
                                        <h5 class="product-title">{{cartItem.product.name}}</h5>
                                        <p class="card-text">
                                            <span class="d-block w-100 mt-3 product-price">${{cartItem.product.price}}</span>
                                            <span class="d-block w-100 mt-3 product-short-description">{{cartItem.product.short_description|safe}}</span>
                                        </p>
                                    </div>

                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center mb-3">
                                            <form action="/orders/add-to-cart/{{ cartItem.product.id }}" method="POST">
                                                {% csrf_token %}
                                                <input name="quantity" type="hidden" min="1" value="1"/>
                                                <button class="btn btn-success" type="submit">Add To Cart</button>
                                            </form>
                                            <a href="/products/{{cartItem.product.category.code}}/{{cartItem.product.slug}}" class="btn btn-outline-dark mt-auto">View More</a>
                                            {% if user.is_authenticated and user.is_staff %}
                                                <div class="text-center">
                                                    <a href="/staff/edit-product/{{cartItem.product.id}}" class="btn btn-outline-primary mt-auto me-2">Edit</a>
                                                    <a href="/staff/delete-product/{{cartItem.product.id}}" class="btn btn-outline-danger mt-auto" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>                
                </div>
            </div>
        </div>
    {% endif %}
</main>
{% endblock %}
